.about {
    width: 100%;
    padding: 40px 0 70px;
    background-color: #eeefef;
    background-image: url(../img/beans.png);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 110% 20%;

    @include for-laptop {
        background-size: 70%;
        background-position: 150% 60%;
    }

    @include for-tablet-landscape {
        background-size: 60%;
        background-position: left -50px bottom -150px;
    }

    @include for-tablet-portrait {
        padding: 0 0 40px;
        background-size: 70%;
        background-position: left -120px bottom -200px;
    }

    @include for-phone-only {
        background-image: none;
        padding: 0 0 50px;
    }
}

.about__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__content {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 30px;

    @include for-tablet-landscape {
        width: 100%;
    }

    @include for-phone-only {
        margin: 0 15px;
    }
}

.about__text {
    font-size: 24px;
    color: $black;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 40px;

    @include for-tablet-landscape {
        margin-bottom: 20px;
    }

    @include for-tablet-portrait {
        font-size: 20px;
    }

    @include for-phone-only {
        font-size: 16px;
    }
}

.about__signature {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > img {
        @include for-tablet-landscape {
            max-width: 150px;
        }

        @include for-phone-only {
            max-width: 100px;
        }
    }
}
